

<div class="cocktail-cards" style="background-image: url('<%= image_path "neon.jpg" %>'); background-position: center;  background-size: cover">
  <% @cocktails.each do |cocktail| %>
  <div class="cocktail-card card m-3">
      <%= image_tag "https://picsum.photos/500", alt: "alttext", class: "card-img-top" %>
      <p class="text-center">
          <%= link_to cocktail.name, cocktail_path(cocktail)%>
      </p>
  </div>
  <% end %>
</div>
