<h1>
  Cocktails
</h1>
<div class="d-flex justify-content-start align-items-center m-3">
  <% @cocktails.each do |cocktail| %>
  <div class="card m-3" style="width: 18rem;">
    <img src="https://picsum.photos/500" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
          <%= link_to cocktail.name, cocktail_path(cocktail)%>
      </p>
    </div>
  </div>
  <% end %>
</div>

<%= link_to "Add a new Cocktail", new_cocktail_path, class: "btn btn-primary rounded"%>
