.cocktail-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  // padding: 16px;
}

.cocktail-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    a {
      text-decoration: none;
      font-size: 24px;
      color: black;
    }
}

@media (min-width: 576px) {
  .cocktail-cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .cocktail-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cocktail-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cocktail-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
