// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/cocktail-card";
@import "components/index";
@import "pages/index";
@import 'select2/dist/css/select2';
@import 'cocktails';
@import 'components/container';
@import 'components/product-card';
